<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">
<head>
    <meta charset="UTF-8">
    <title>Shopping List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

<div ng-controller="ShoppingController as shopCtrl">
    <h1>Shopping List</h1>

    <!-- To Buy List -->
    <div>
        <h2>To Buy:</h2>
        <ul>
            <li ng-repeat="item in shopCtrl.toBuyList">
                Buy {{ item.quantity }} {{ item.name }}
                <button ng-click="shopCtrl.buyItem($index)">Bought</button>
            </li>
        </ul>
        <div ng-if="!shopCtrl.toBuyList.length">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div>
        <h2>Already Bought:</h2>
        <ul>
            <li ng-repeat="item in shopCtrl.boughtList">Bought {{ item.quantity }} {{ item.name }}</li>
        </ul>
        <div ng-if="!shopCtrl.boughtList.length">Nothing bought yet.</div>
    </div>
</div>

<script>
    (function() {
        'use strict';

        angular.module('ShoppingListCheckOff', [])
        .controller('ShoppingController', ShoppingController);

        function ShoppingController() {
            var ctrl = this;

            // Initial list of items to buy
            ctrl.toBuyList = [
                { name: 'cookies', quantity: 10 },
                { name: 'apples', quantity: 5 },
                { name: 'bananas', quantity: 7 },
                { name: 'milk', quantity: 2 },
                { name: 'bread', quantity: 1 }
            ];

            ctrl.boughtList = [];

            // Function to buy an item
            ctrl.buyItem = function(index) {
                var boughtItem = ctrl.toBuyList.splice(index, 1)[0];
                ctrl.boughtList.push(boughtItem);

                // If all items are bought, display the message
                if (ctrl.toBuyList.length === 0) {
                    alert('Everything is bought!');
                }
            };
        }
    })();
</script>

</body>
</html>
